Cython
Flask~=1.1.1
Flask-Cors
Flask-PyMongo
Flask-RESTful
Jinja2
MarkupSafe
PyJWT~=1.7.1
PyYAML~=5.3.1
Werkzeug~=1.0.1
click
gunicorn
itsdangerous
pip
pymssql-linux
setuptools
six
multipledispatch~=0.6.0